/* tablet */
@media(max-width:992px) {


    /* header */

 #menu-toggel{
    display: none;
 }   
 .menu-label{
    display: flex;
    order: 2;
 }   
 .menu-label img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
 }
 .nav-bar-list{
    position: absolute;
    top: 50px;
    padding: 10px 10px 20px 20px;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    left: 5%;
    background-color: #909090;
    border: solid 2px lightblue;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    display: none;
    
 }
 #menu-toggel:checked + .nav-bar-list{
    display: flex;
 }

nav i{
    font-size: 36px;
    color: white;
   
}
.conteiner-cart-menu{
    display: flex;
    gap: 40px;
}

nav{
    max-width: 992px;
    width: 100%;
    flex-direction: row;
    padding: 1%;
    
    
}

body{
    max-width: 992px;
    width: 100%;
}
/* hero */
#portada{
    text-align: center;
    align-items: center;
    max-width: 900px;
    width: 100%;

}


.logo{
   display: flex;
   width: 40px;
   margin-left: 1%;
}

.hero-p{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-left: 100px;
}

.botones{
    display: flex;
    margin-left: 190px;
    gap: 350px;

    
  
}
.imagen-hero{
  display: none;
}

.hero-h1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 170px;

}

.plantelimg{
    display: none;
}
     /* seccion de goleadores  */
.conteiner-goleadores{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 600px;
    margin-right: 90px;
    

}

#goleadores-section{
    margin-top: 20px;
    margin-right: 20px;
}

  /* sección de contacto */
.section-contacto{
    display: flex;
    margin-right: 360px;
    margin-left: 1px;
    max-width: 1000px;
    width: 60%;

}

.conteiner-contacto{
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   position: relative;
   margin-left: 100px;
   margin-right: 40px;
}

.img-contacto{
    display: flex;
    position:absolute;
    max-width: 400px;
   margin-right: 100px;



}

.section2{
    max-width: 992px;
    width: 600px;
    margin-left: 55px;
    
}

.img-redes{
    display: flex;
}
    /* pie de pagina */
.footer{
    margin-bottom: 50px;
   
    
}

 } 

/* celus */
@media(max-width:578px){

    body{
  max-width: 578px;
  width: 100%;

    }

    nav{
    
        width: 100%;

    }
  

     .boton{
        max-width: 300px;
        width: 20px;
     }

                         /* PORTADA */
     #portada{
        max-width: 578px;
        width: 100%;
     }

     .hero-h1{
        margin-left: 150px;
     }
    
     .hero-p{
        max-width: 578px;
        width: 50%;
        margin-left: 190px;  
     }

     .botones{
        margin-left: 160px;
        gap: 120px;
     }

     .section2{
        max-width: 400px;
        margin-left: 100px;
     }

     #goleadores-section{
        max-width: 578px;
        width: 50%;
        padding-left: 10%;
        
     }

     .conteiner-goleadores{
        max-width: 578px;
        width:80% ;
     }
    .img-contacto{
        max-width:200px;
        
    }

    .ul-contacto{
        display: flex;
        gap: 10px;
    }

    

}

