* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   /* font-family: sans-serif; */
}

body{ 
    background-color: #7f7971;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-size: 20px;
    color:#120907;
    font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
     
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, red, #5e0910);
    /* padding: 1rem; */
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

ul a {
    color: white;
    text-decoration: none;
   

}

.logo{
    border-radius: 10px;
}
.buscador{
    font-size: xx-large;
    border-radius: 20px;
    width: 500px;
   
}


.lupa{
    border-radius: 40px;
    width: 35px;
}

.boton{
    border-radius: 40px;
    width: 40px;
    
}
a:hover {
    color: black;
}

main{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.portada{
    margin-top: 15px;
    padding: 75px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* max-width: 50%; */
    align-items: flex-start;
}
.hero-h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    width: 70%;
    background:linear-gradient(to top , red, white);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; }

.hero-p{
    font-size: 24px;
    
}
/* estilo de los botones de la portada */
.boton-hero{
   background-color: red;
   color: white;
   padding: 8px 20px;
   border-radius: 10px;
}
/* efecto hover en los botones de la portada */
.boton-hero:hover{
    background-color: white;
    color: red;
    padding: 10px 22px;
    transition: o.2s;
}
.imagen-hero{
   border-radius: 20px;
}


/* Contenedor de imagen y texto de camiseta */
.camiseta-24{
    margin-left: 110px;
    display: flex;
    flex-direction: column;
}

.span{
   font-size: 30px;

}

.botones{
    display: flex;
    gap: 300px;
}

.section2{ 
    margin: 10px 100px 10px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
 
}

.plantelimg{
    text-align: center;

}

/* seccion de goleadores */
.goleadores-section{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
}

/* caja contenedora de los goleadores (contiene las tres cajas) */
.conteiner-goleadores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
    padding: 10px;
}

/* caja de cada goleador  */
.goleador{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 25px;    
}

/* efecto hover de la caja de cada goleador */
.goleador:hover{
    background-color: red;
    color: white;
    padding: 30px;
}

/* imagen de cada goleador  */
.img-goleador{
    border-radius: 15px;
    
}

.section-contacto{
    display: flex;
    margin-top: 130px;
   
       
}

.h2-contacto{
    display: flex;
}

.conteiner-contacto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 300px;  
       
}


.ul-contacto{
    display: flex;
    flex-direction: column;
}
 /* bordes de la imgen del monumental */
.img-contacto{
   border-radius: 30px;
}
/* detalle de linea debajo del nombre del contacto */
.p-enzo-contacto{
    text-decoration: underline;
}

.footer{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
    













