* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   /* font-family: sans-serif; */
}

body{ 
    background-image: url("https://images.pagina12.com.ar/styles/focal_16_9_960x540/public/2023-07/742810-8-a2-alejandroleiva.jpg?h=e16d9e5b&itok=HCrdYi2R");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-size: 20px;

    color:#120907;
    font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
     
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 1rem;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

ul a {
    color: white;
    text-decoration: none;

}

.logo{
    border-radius: 10px;
}
.buscador{
    font-size: xx-large;
    border-radius: 20px;
    width: 500px;
   
}


.lupa{
    border-radius: 40px;
    width: 35px;
}

.boton{
    border-radius: 40px;
    width: 40px;
    
}
a:hover {
    color: black;
}

main{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.portada{
    margin-top: 15px;
    padding: 75px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
    align-items: flex-start;
}
.hero-h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    width: 70%;
}

.hero-p{
    font-size: 24px;
    
}

.boton-hero{
   background-color: red;
   color: white;
   padding: 8px 20px;
   border-radius: 10px;
 

}
.imagen-hero{
   border-radius: 20px;
}


/* Contenedor de imagen y texto de camiseta */
.camiseta-24{
    margin-left: 110px;
    display: flex;
    flex-direction: column;
}

.span{
   font-size: 30px;
   

}

.botones{
    display: flex;
    gap: 300px;
}

.section2{ 
    margin: 10px 100px 10px 100px;
    display: flex;
    text-align: center;
    justify-content: center;
 
}











